*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    background-color: #0174DF;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 18px;
}